@tailwind base;
@tailwind components;
@tailwind utilities;


.customModal{
    background-color: white;
    width: 300px;
    top: 3rem;
    color: black;
    border: 1px solid gray;
    border-radius: 0.5rem;
} 